.gallery {
       position: relative;
    
    img{
        height: 415px;
        width: 100%;
        object-fit: cover;
        border-radius: 25px;      
          
    }

    .prev {
        border-style: none;
        background-color: transparent;        
        font-size: 78px;  
        color: white;
        position: absolute;
        bottom: 0;
        left: 23px;            
        top: 0;
    }

    .next {
        border-style: none;
        background-color: transparent;        
        font-size: 78px;  
        color: white;
        position: absolute;
        bottom: 0;            
        right: 23px;
        top: 0;
    }   
    
    .count {
        color: white;
        font-size: 18px;
        position: absolute;
        bottom: 23px;
        left: 50%;
        transform: translate(-50%);
    }     

    @media (max-width: 900px) {
        img {
            height: 350px;
        }

        .prev {
            font-size: 40px;
        }

        .next {
            font-size: 40px;
        }
    }

    @media (max-width: 500px) {
        img {
            height: 255px;
        }

        .prev {
            font-size: 20px;
        }

        .next {
            font-size: 20px;
        }     
    }
}