* {
    margin: 0;
}

html, body {
    height: 100%;
}

body {
    display: flex;       
    font-family: montserrat;
}

div#root{
    width: 100%;
}

.pointer {
    cursor: pointer;
}

.main {
    display: flex;
    flex-direction: column;  
    flex-grow: 1;
    padding: 0 100px 45px 100px;
    gap: 30px;
}

