// .container {
//     background-color: grey;
//     border-radius: 25px;
//     display: grid;
//     grid-template-columns: repeat(3, 1fr);    
//     justify-items: center;
//     gap: 50px;
//     padding: 50px 0;    
// }

.cardList {
    background-color: #F6F6F6;
    border-radius: 25px;
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    padding: 50px 0;
    justify-content: center;
}