.card {
    background-color: #FF6060;
        width: 340px;
        height: 340px;
        border-radius: 10px;
        position: relative;

        h2 {
            position: absolute;            
            bottom: 0;
            left: 0;                
            padding: 20px;
            color: white;
            font: {
                weight: 700;
                size: 18px;
            }           
        }        
}