.collapse {
    border-radius: 5px;
    margin: 0 108px;
    
    .collapse-title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: rgba(255, 96, 96, 1);
        color: white;
        height: 52px;
        text-align: left;
        border-radius: 5px;
        border-style: none;
        padding: 0 20px 0 15px;
        position: relative;
        z-index: 1;
        
        font: {
            size: 18px;
            weight: 700;
        }
    }
    
    .collapse-content {        
        margin: 0;
        padding: 25px 20px 20px 20px;
        font-size: 18px;
        background-color: rgba(246, 246, 246, 0.45);    
    }

    .fa-chevron-up {
        transition: transform 0.3s ease; 
    }
    .open {
        transform: rotate(-180deg);
    }
    
    @media (max-width: 900px) {
        margin: 0 70px;

        .collapse-title {
            font-size: 15px;
        }

        .collapse-content {
            font-size: 12px;
        }
      }

    @media (max-width: 500px) {
        margin: 0 30px;

        .collapse-title {
            font-size: 13px;
        }
      }
}

