.kasa-footer {
    background-color: black;
    color: white;
    text-align: center;
    
    img {
        padding-top: 66px;
    }
    
    p {
        padding: 28px 0 29px 0;

        font: {
            weight: 500;
            size: 24px;
        }

        @media (max-width: 900px) {
            font-size: 18px;
        }
  
        @media (max-width: 500px) {
            font-size: 12px;
        }
    }

    
}